/*cuando se agregan los estilos se acomodan a ciertos temas esto es una convencion*/
/*
1. Posicionamiento --> static, absolute,relative,fixed
2. Modelo de caja (Box Model)--> margin,border,padding,content
3. Tipografia--> tipos,tamaños de fuente etc
4. Visuales--> box-shadow,border radius,gradient etc
5. Otros-->miselaneos, reglas css y mas
*/

:root {
    /*Colores*/
    --bitcoin-orange : #F7931A;
    --soft-orange : #ffe9d5;
    --secondary-blue : #1a9af7;
    --soft-blue : #e7f5ff;
    --warm-black : #201e1c;
    --black : #282623;
    --grey : #bababa;
    --off-white : #faf8f7;
    --just-white : #fff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    /*para poder usar el reem en parte de fuentes osea ajustamos el tamaño del documento para asi solamente usar reems en vez de px
    1 reem = 10px*/
    font-size: 62.5%;
    font-family: "DM Sans", serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 335px;
    text-align: center;
    /*se puede ver de diagonales etc*/
    background: linear-gradient(207.8deg,#201E1C 16.69%,#F7931A 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 217px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}
.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header--title-container .header--button {
    position : absolute;
    /*lo ubica al medio es haciendo simples calculos*/
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    background-color: var(--off-white);
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30,.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    text-decoration: none;
    color: var(--black);
}
.header--button span {
    display: inline-block;
    width: 19px;
    height: 16px;
    margin-left: 8px;
    background-image: url('./assets/icons/mdi_keyboard_arrow_down_bottom.svg');
}
main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}
.main-exchage-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange-cotainer--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchage-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('./assets/images/Bitcoin.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.main-exchange-cotainer--title h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.main-exchange-cotainer--title p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    /*no esta en variable ya que se usa una sola vez*/
    color: #757575;
}
.main-tables-container--slider {
    position: relative;
    font-family: "Inter", serif;
    margin: 0 auto;
    min-width: 270px;
    max-width: 900px;
    display: flex;
    gap: 15px;
    height: auto;
    padding: 20px 20px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type:x proximity;
    scrollbar-color: var(--bitcoin-orange) var(--soft-orange);
    scrollbar-width: thin;
}
.main-tables-container--slider h2 {
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.3rem;
    text-align: left;
}
.main-tables-container--slider::-webkit-scrollbar {
    background-color: var(--soft-orange);
    height: 3px;
}
.main-tables-container--slider::-webkit-scrollbar-thumb {
    background-color: var(--bitcoin-orange);
}
.main-currency-table h2 {
    padding-left: 13%;
    align-self: flex-start;
    color: #FF9536;
}
.main-commissions-table h2 {
    padding-left: 13%;
    color: var(--secondary-blue);
    align-self: flex-start;
}
.main-currency-table,.main-commissions-table {
    position: relative;
}
.table-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 20px;
    width: 88%;
    border-radius: 10px;
    overflow: hidden;
}
.currency-type {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #B5B0AC;
}
.currency-value {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #757575;
}
.currency-type, .currency-value {
    padding: 10px;
    background-color: #FFFFFF;
    margin: 1px;
}
.main-currency-table .table-content span {
    display: inline-block;
    height: 14px;
    width: 17px;
    margin-left: 4px;
    background-repeat: no-repeat;
    background-size: contain
}
.bitcoin ,.ripple ,.stellar  {
    background-image: url('./assets/icons/trending-down.svg');
}
.ethereum  {
    background: url('./assets/icons/trending-up.svg');
}
.main-currency-table .main-table-container--update-info,.main-commissions-table .main-table-container--update-info {
    padding: 5px;
    margin: 0 auto;
    width: 70%;
    max-width: 500px;
    min-width: 250px;
    border-radius: 5px;
    font-size: 1.2rem;
    line-height: 1.8rem;   
}
.main-currency-table .main-table-container--update-info {
    scroll-snap-align: center;
    background-color: var(--soft-orange);
}
.main-commissions-table .main-table-container--update-info {
    background-color: #E7F5FF;
}
.main-currency-table,.main-commissions-table {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}